<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div th:fragment="vaultTable(vaultItems)" class="overflow-x-auto rounded border border-gray-300 shadow-sm">
    <table class="min-w-full divide-y-2 divide-gray-200 text-sm">

        <thead class="ltr:text-left rtl:text-right">
        <tr class="*:font-medium *:text-gray-900">
            <th class="px-3 py-2 whitespace-nowrap">Id</th>
            <th class="px-3 py-2 whitespace-nowrap">Name</th>
            <th class="px-3 py-2 whitespace-nowrap">Resource</th>
            <th class="px-3 py-2 whitespace-nowrap">Description</th>
            <th class="px-3 py-2 whitespace-nowrap">Login</th>
            <th class="px-3 py-2 whitespace-nowrap">Password</th>
            <th class="px-3 py-2 whitespace-nowrap">Actions</th>
        </tr>
        </thead>

        <tbody class="divide-y divide-gray-200">
        <tr th:each="vaultItem : ${vaultItems}" class="*:px-4 *:py-2 *:whitespace-nowrap *:text-gray-700">
            <td class="font-medium" th:text="${vaultItem.id}"></td>
            <td th:text="${vaultItem.name}"></td>
            <td th:text="${vaultItem.resource}"></td>
            <td th:text="${#strings.abbreviate(vaultItem.description, 30)}"></td>
            <td th:text="${vaultItem.login}"></td>
            <td>••••••••</td>

            <td>
                <a th:href="@{/vault-item/edit/{id}(id=${vaultItem.id})}"
                   class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-black hover:bg-indigo-700">
                    Edit
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
