<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>

<body>


<a class="group inline-block rounded-sm bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:ring-3 focus:outline-hidden"
        href="#">
  <span class="block rounded-xs bg-white px-8 py-3 text-sm font-medium group-hover:bg-transparent">
    Download
  </span>
</a>



<a class="group inline-block rounded-full bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:ring-3 focus:outline-hidden"
        href="#">
  <span class="block rounded-full bg-white px-8 py-3 text-sm font-medium group-hover:bg-transparent">
    Download
  </span>
</a>


<div th:replace="~{component/vault-table :: vaultTable(${vaultItems}) }"></div>


</body>

</html>
