<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body class="bg-light p-5 text-black">

<div>
    <h1>Password Manager</h1>
</div>

<div th:if="${vault}" class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg">
    <h2 th:text="${vault.name}">Item name</h2>

    <p>
        <strong>Description:</strong>
        <span th:text="${vault.description}">No description</span>
    </p>

    <p>
        <strong>Login:</strong>
        <span th:text="${vault.login}">Login</span>
    </p>

    <p>
        <strong>Password:</strong>
        <span th:text="${vault.password}">Password</span>
    </p>
</div>

<div th:if="${vault == null}">
    <p>No vault item found.</p>
</div>

</body>
</html>
